#board {
  display: grid;
  grid-template-columns: repeat(7, 5vw);
  gap: 5px;
  margin: 5% auto;
  width: fit-content;
}

.cell {
  width: 5vw;
  height: 5vw;
  background: lightgray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.red {
  background: red;
}

.yellow {
  background: gold;
}
