#start-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100%;

  width: 80%;
}

.hidden {
  display: none !important;
}

.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start-button {
  padding: 2% 2%;
  font-size: 1.5em;
  background-color: #464646;
  color: white;
  border: none;
  // border-radius: 10%;
  cursor: pointer;
  margin-top: 2vh;
}

h1 {
  font-size: 2em;
}

input[type="text"] {
  padding: 1em;

}

#one-player-select,
#two-player-select {
  padding-bottom: 2vh;
  width: 100%;
}


/* ===== スマホ用スタイル（幅768px以下） ===== */
@media (max-width: 768px) {
  #start-screen {
    height: 80%;
  }

}