@font-face {
  font-family: 'MyFont';
  src: url('font/なにくそ.otf') format('opentype');
}

body{
  font-family: 'MyFont', sans-serif;
  text-align: center;
  margin: 0;
  
}

button{
  font-family: 'MyFont', sans-serif;
}

#start-screen{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#start-button{
  padding: 10px 20px;
  font-size: 24px;
  background-color: #464646;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10%;
}

#board {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  gap: 5px;
  margin: 40px auto;
  width: fit-content;
}
.cell {
  width: 60px;
  height: 60px;
  background: lightgray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.red {
  background: red;
}
.yellow {
  background: gold;
}
